.app {
	height: 100vh;
	display: flex;
	flex-direction: column;	
	align-items: center;
	justify-content: center;
}

.title {
	margin-bottom: 30px;
    font-size: 52px;
}

.form {
	width: 400px;
}

.error {
	color: red;
}